<div class="container pb-4">
    <h5 class="modal-title text-green" id="exampleModalCenterTitle">{{ country?.country_name }}</h5>

    <div class="row">
        <div class="col-6">
            <div class="card corona-card corona-border my-2 text-center">
                <div class="card-body py-2">
                    <div class="h5 text-primary">{{ country?.cases }}</div>
                    <div class="h6 mb-0">Total Cases</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card corona-card corona-border my-2 text-center">
                <div class="card-body py-2">
                    <div class="h5 text-green">{{ country?.total_recovered }}</div>
                    <div class="h6 mb-0">Total recovery</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card corona-card corona-border my-2 text-center">
                <div class="card-body py-2">
                    <div class="h5 text-danger">{{ country?.deaths }}</div>
                    <div class="h6 mb-0">Total deaths</div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card corona-card corona-border my-2 text-center">
                <div class="card-body p-2">
                    <div class="h5 text-warning">{{ country?.serious_critical }}</div>
                    <div class="h6 mb-0">Total severe cases</div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card corona-card corona-border my-2 text-center">
                <div class="card-header">
                    <div class="h5 mb-0">Death rate</div>
                </div>
                <div class="card-body py-2">
                    <circle-progress [percent]="deathRatePercentage" [radius]="95" [outerStrokeWidth]="25"
                        [toFixed]="2" [showSubtitle]="false" [space]="-25" [maxPercent]="100" [innerStrokeWidth]="25"
                        [outerStrokeColor]="'#dc3545'" [titleColor]="'#dc3545'" [unitsColor]="'#dc3545'"
                        [innerStrokeColor]="'#edf1fa'" [animation]="true">
                    </circle-progress>
                </div>
            </div>
        </div>

    </div>
</div>