<!-- Just an image -->

<mat-drawer-container class="containerr" autosize>
    <nav class="navbar navbar-success bg-green text-light">
        <a class="pointer mr-3" (click)="drawer.toggle()">
            <mat-icon>dehaze</mat-icon>
        </a>
        <div class="h5 mb-0 mr-auto">
            Corona Virus Monitor</div>
    </nav>
    <!-- mode="side" -->

    <mat-drawer #drawer class="sidebar" mode="over">

        <div class="sidebar-content">

            <ul>
                <li (click)="drawer.close()" matRipple>
                    <a routerLink="/dashboard" routerLinkActive="current">Dashboard</a>
                </li>
                <li (click)="drawer.close()" matRipple>
                    <a routerLink="/countries" routerLinkActive="current">Countries</a>
                </li>

            </ul>

        </div>

    </mat-drawer>
    <div>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>