<div id="page-container">
    <div id="content-wrap">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg">
            <a routerLink="/" class="navbar-brand text-green pl-2">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-5">

                    <li class="nav-item px-4" routerLinkActive="active">
                        <a routerLink="/" class="nav-link text-green" href="#">Dashboard</a>
                    </li>

                    <li class="nav-item px-4" routerLinkActive="active">
                        <a routerLink="/countries" class="nav-link text-green" href="#">Countries/Places</a>
                    </li>

                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
    <footer class="bg" id="footer">
        <div class="py-3 footer d-flex justify-content-center">
            Designed by: <span class="ml-2">
                <a target="_blank" class="text-green" href="https://twitter.com/Comlyboy"> Cornelius
                    Okeke</a></span>
        </div>

    </footer>
</div>

<!-- <ng-sidebar-container>
    <ng-sidebar class="sidebar" allowSidebarBackdropControl="false" autoCollapseWidth="767" mode="push"
        [(opened)]="_opened">
        <div class="sidebar-content">
            <ul class="pt-5 mt-2 pl-0">
                
                <li matRipple>
                    <a class="h6 mb-0 text-center" routerLink="/" routerLinkActive="current">
                        <div class="h6">
                            <i class="fa fa-tachometer-alt"></i>
                        </div>
                        <div class="h6 mb-0">Dashboard</div>
                    </a>
                </li>

                <li matRipple>
                    <a class="h6 mb-0 text-center" routerLink="/countries" routerLinkActive="current">
                        <div class="h6">
                            <i class="fas fa-head-side-cough"></i>
                        </div>
                        <div class="h6 mb-0">Countries</div>
                    </a>
                </li>

                <li matRipple>
                    <a class="h6 mb-0 text-center" routerLink="/states" routerLinkActive="current">
                        <div class="h6">
                            <i class="fas fa-flag"></i>
                        </div>
                        <div class="h6 mb-0">States</div>
                    </a>
                </li>
            </ul>

        </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <nav class="navbar navbar-expand-lg text-green bg-white py-3">
            <div class="d-flex">
                <div (click)="_toggleSidebar()" class="h5 mb-0 pointer">
                    <i class="fa fa-align-justify"></i>
                </div>
                <div class="h5 mb-0 ml-5">NCDC-help</div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
    
</ng-sidebar-container> -->