<app-spinner *ngIf="isLoading"></app-spinner>

<div *ngIf="!isLoading" class="container-fluid mt-4">
    <div class="card corona-card my-3">
        <div class="card-body p-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="h5 my-2">Affected Countries/Places
                        <span class="ml-2 badge badge-primary bg-green">{{ totalCountries }}</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="h6 text-right mb-0 my-2">As at: <span class="text-green">
                            {{ statistic_taken_at | date:'medium' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h5></h5>

<div *ngIf="!isLoading" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2" *ngFor="let country of countries">
            <div matRippple (click)="onCountryDetails(country.country_name)"
                class="card corona-card corona-border pointer mt-2 mb-3">
                <div class="card-header py-1">
                    <div class="h6 text-secondary text-center"> {{ country.country_name }}
                    </div>
                </div>
                <div class="card-body py-2 px-4">
                    <div class="d-flex justify-content-between mb-1">
                        <div class="text-small"> Cases: </div>
                        <div class="text-small text-primary">{{ country.cases }}</div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <div class="text-small">Deaths: </div>
                        <div class="text-small text-danger">{{ country.deaths }}</div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <div class="text-small">Cures: </div>
                        <div class="text-small text-green">{{ country.total_recovered }}</div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <div class="text-small">Critical cases: </div>
                        <div class="text-small text-warning">{{ country.serious_critical }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>