body {
    height: 100%;
    margin: 0;
    // color: rgb(163, 180, 184) !important;
    // color: #7ad0df !important;
    color: rgb(163, 180, 184) !important;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Nuni !important;
    background-color: #041834f8 !important;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none !important;
}

.corona-card {
    border-radius: 15px !important;
    background-color: #1e3049 !important;
}

.corona-border {
    border: rgba(0, 0, 255, 0) solid 1.5px !important;
}

.corona-border:hover {
    border: #096c4e solid 1.5px !important;
    transition: ease-in .3s;
}

.btn-green {
    background-color: #12b886 !important;
    color: white !important;
}

.btn-green:hover {
    background-color: #17ac7f !important;
}

.bg-green {
    background-color: #12b886 !important;
    border-color: #12b886 !important;
}

.bg {
    background-color: #283e5d !important;
}

.text-green {
    color: #12b886 !important;
}

pointer {
    cursor: pointer;
}