body {
    height: 100%;
    margin: 0;
    // color: rgb(163, 180, 184) !important;
    // color: #7ad0df !important;
    color: rgb(163, 180, 184) !important;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Nuni !important;
    background-color: #041834f8 !important;
    text-rendering: optimizeLegibility;
}

.corona-card {
    border-radius: 15px !important;
    background-color: #ebe4e417 !important;

}

.btn-green {
    background-color: #12b886 !important;
    color: white !important;
}

.btn-green:hover {
    background-color: #17ac7f !important;
}

.bg-green {
    background-color: #12b886 !important;
    border-color: #12b886 !important;
}

.text-green {
    color: #12b886 !important;
}

pointer {
    cursor: pointer;
}

mat-icon {
    vertical-align: middle !important;
}