<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent my-4 py-1">
            <li class="breadcrumb-item h5" aria-current="page">Dashboard
            </li>
            <div class="ml-auto h6 mb-0">As at: <span class="text-green"></span>{{ statistic_taken_at | date:'medium' }}
            </div>
        </ol>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-primary">{{ totalCases | number }}</div>
                    <div class="h6">Total Cases</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-green">{{ totalCures | number }}</div>
                    <div class="h6">Total Recovered</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-danger">{{ totalDeaths | number }}</div>
                    <div class="h6">Total Deaths</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card corona-border my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-warning">{{ totalCountries | number }}</div>
                    <div class="h6">Countries Affected</div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-sm-12 col-md-7 col-lg-8 col-xl-12">
            <div class="card corona-card my-2">
                <div class="card-body">
                    <canvas #lineChart></canvas>
                </div>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <div class="card corona-card my-2">
                <div class="card-header">
                    <div class="h5 mb-0">Recovery rate</div>
                </div>
                <div class="card-body pl-5 py-5">
                    <circle-progress [percent]="recoveryRatePercentage" [radius]="100" [outerStrokeWidth]="25"
                        [toFixed]="2" [showSubtitle]="false" [space]="-25" [maxPercent]="100" [innerStrokeWidth]="25"
                        [outerStrokeColor]="'#12b886'" [titleColor]="'#12b886'" [unitsColor]="'#12b886'"
                        [innerStrokeColor]="'#edf1fa'" [animation]="true">
                    </circle-progress>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <div class="card corona-card my-2">
                <div class="card-header">
                    <div class="h5 mb-0">Severe cases rate</div>
                </div>
                <div class="card-body pl-5 py-5">
                    <circle-progress [percent]="severeRatePercentage" [radius]="100" [outerStrokeWidth]="25"
                        [toFixed]="2" [showSubtitle]="false" [space]="-25" [maxPercent]="100" [innerStrokeWidth]="25"
                        [outerStrokeColor]="'#4a6ee0'" [titleColor]="'#4a6ee0'" [unitsColor]="'#4a6ee0'"
                        [innerStrokeColor]="'#edf1fa'" [animation]="true">
                    </circle-progress>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <div class="card corona-card my-2">
                <div class="card-header">
                    <div class="h5 mb-0">Death rate</div>
                </div>
                <div class="card-body pl-5 py-5">
                    <circle-progress [percent]="deathRatePercentage" [radius]="100" [outerStrokeWidth]="25"
                        [toFixed]="2" [showSubtitle]="false" [space]="-25" [maxPercent]="100" [innerStrokeWidth]="25"
                        [outerStrokeColor]="'#dc3545'" [titleColor]="'#dc3545'" [unitsColor]="'#dc3545'"
                        [innerStrokeColor]="'#edf1fa'" [animation]="true">
                    </circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>