<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4 py-1">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Dashboard
            </li>
            <!-- <div class="ml-auto text-muted">Statistics taken at: <span
                    class="text-green">{{ statistic_taken_at | date:'medium' }}</span></div> -->
        </ol>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-primary">{{ totalCases | number }}</div>
                    <div class="h6 text-muted">Total Cases</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-green">{{ totalCures | number }}</div>
                    <div class="h6 text-muted">Total Recovered</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card my-2 text-center pointer">
                <div class="card-body">
                    <div class="h3 text-danger">{{ totalDeaths | number }}</div>
                    <div class="h6 text-muted">Total Deaths</div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card corona-card corona-border my-2 text-center pointer">
                <a routerLink="/countries" class="card-body">
                    <div class="h3 text-warning">{{ totalCountries | number }}</div>
                    <div class="h6 text-muted">Countries Affected</div>
                </a>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card corona-card">
                <div class="card-body">
                    <circle-progress [percent]="deathRatePercentage" [radius]="53" [outerStrokeWidth]="16" [toFixed]="2"
                        [showSubtitle]="false" [space]="-15" [maxPercent]="100" [innerStrokeWidth]="16"
                        [outerStrokeColor]="'#4a6ee0'" [innerStrokeColor]="'#edf1fa'" [animation]="true"
                        [animationDuration]="300">
                    </circle-progress>
                </div>
            </div>
        </div>
    </div>
    <div class="card corona-card my-3">
        <div class="card-header">
            <div class="h5 mb-0"> Country Charts
            </div>
        </div>
        <div class="card-body">
            <ngx-charts-bar-vertical [view]="viewCharts" [scheme]="colorScheme" [results]="country_cases_comparism"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showBarLegend" [roundEdges]="roundEdges"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>